
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
}

.profile-image {
    width:180px;
    height:180px;
    border-radius:50%;
    background-position:center;
    border:4px solid #CCFFCC;
}

.header-image {
    width:70%;
}

.header-top-div {
    text-align: center;
}
